footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}

footer p {
    margin: 10px 0;
    font-size: 14px;
}

footer a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.social-icons {
    margin-top: 20px;
}

.social-icons h1 {
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.social-icons a {
    font-size: 24px;
    margin: 0 10px;
    color: white;
    vertical-align: middle;
}

.social-icons a:hover {
    color: #ff0000; /* Change color on hover */
}
