.home {
  background: url('../images/mainimage.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Arial', sans-serif;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Mobile view ke liye background image scroll animation */
@media (max-width: 768px) {
  .home {
    background: url('../images/mainimage.jpg') repeat-x;
    background-size: auto 100%;
    animation: scrollBg 30s linear infinite alternate;
  }
}

/* Background Scroll Animation */
@keyframes scrollBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}


.home h1 {
  white-space: nowrap;
  font-size: 1.5rem;
  color: #f8f9fa; /* Softer white */
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Subtle shadow for better readability */
}
